
    .section-1{


      border-radius: 15px;
      padding-top: 30px;
      padding-bottom:30px ;
      padding-left: 30px;
      padding-right: 30px;
      margin: 300px,300px;
      height: 200px;
      width: 700px;
      background-color: white;
      font-family: sans-serif;
     

    }
    a{text-decoration: none;}
    body{
      background-color:#f0f0f2;
      margin-top: 160px;
      margin-left: 300px;
      
    }

    










